.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  background-color: #ffc107;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ffca28;
}
